<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            500
            <small>Server error</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="~/Home">Home</a>
            </li>
            <li class="active">500</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1>
                <span class="error-500">500</span>
            </h1>
            <p>Server error. Please, try again later until we fix it.</p>
        </div>
    </div>
</div>
