@model TheBookProject.Web.ViewModels.Home.HomeIndexViewModel

<div class="row">
    <br/>
    <br />
    <div class="col-md-12 jumbotron" style="background-image: url(http://3.bp.blogspot.com/-vUn2cmUl2uc/Vb5wYH4W-SI/AAAAAAAACvk/WEsjBCsO7VE/s1128/Fantasy%2Bwallpaper%2Bpillars%2Bof%2Bdestiny.jpg); background-size: 100%;">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h1 style="font-size: 70px; font-family:'Charlemagne Std'; color: white; text-align:right">
                The <br /> Book<br />  Project
            </h1>
        </div>
    </div>
    <div style="width: 100%">
        
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default text-center panel-home-outside">
            <div class="panel-heading panel-home">
                <h1 style="font-size: 55px; font-weight:bold;">
                    45
                </h1>
                <h4>Книги за купуване</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default text-center panel-home-outside">
            <div class="panel-heading panel-home">
                <h1 style="font-size: 55px; font-weight:bold;">
                    3
                </h1>
                <h4>Регистристрани потребителя</h4>
            </div>
        </div>
    </div>
</div>