@model TheBookProject.Web.ViewModels.Home.HomeViewModel

<div class="row">
    <div class="col-md-12 jumbotron" style="background-image: url(http://i66.tinypic.com/2mgkoas.png); background-size: 100%; border-top-left-radius: 0px; border-top-right-radius: 0px;">
        <div class="col-md-12 text-center" id="home-image">
            <h1 style="font-size: 70px; font-family:Constantia; color: white; font-weight: bolder; text-shadow: #EEEE00 0 0 10px;">
                The Book Project
            </h1>
        </div>
    </div>
    <div style="width: 100%">
        
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default text-center panel-home-outside">
            <div class="panel-heading panel-home">
                <h1 style="font-size: 55px; font-weight:bold;">
                    @Model.Books
                </h1>
                <h4>Книги за купуване</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default text-center panel-home-outside">
            <div class="panel-heading panel-home">
                <h1 style="font-size: 55px; font-weight:bold;">
                    @Model.Users
                </h1>
                <h4>Регистристрани потребителя</h4>
            </div>
        </div>
    </div>
</div>